.adress {
  z-index: $z-position - 5;

  box-sizing: border-box;
  margin-top: -30px;
  padding: 65px 25px 35px 25px;

  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;

  background-color: $yellow;
}

.adress__text {
  width: 145px;

  @include font-param(700, 16px, $BloggerSans, 0, 22px);
  text-transform: uppercase;
}

.adress__text-description {
  display: flex;
  align-items: center;

  &::before {
    content: "";
    display: block;
    width: 45px;
    height: 45px;
    margin-right: 15px;

    background-color: $dark-blue;
    border-radius: 50%;
    background-image: url("../img/contacts-location.svg");
    background-position: center;
    background-size: 14px;
    background-repeat: no-repeat;
  }
}

.adress__text--dark-blue {
  color: $dark-blue;
}

.adress__way-button {
  border: 3px solid $dark-blue;
}

@media (min-width: $tablets-width) {
  .adress {
    padding-left: 75px;
    padding-right: 75px;
  }

  .adress__text {
    width: 435px;

    @include font-param (700, 28px, $BloggerSans, 0, 28px)
  }

  .adress__text-description {
    &::before {
      width: 68px;
      height: 68px;
      margin-right: 25px;

      background-size: 21px;
    }
  }

}
