.companions {
  z-index: $z-position - 2;

  box-sizing: border-box;
  margin-top: -30px;
  padding: 70px 25px 30px 25px;

  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}

.companions--bg-color {
  background-color: $dark-blue;
}

.companions__title {
  margin: 0;
  margin-bottom: 20px;
}

.companions__about {
  margin-bottom: 25px;
  width: 215px;
}

.companions__comment {
  margin-bottom: 60px;
}

.companions__list {
  list-style-type: none;
  padding: 0;
}

.companions__photo {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.companions__item {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;
  width: 270px;
  margin-bottom: 10px;
  padding-bottom: 20px;

  border-radius: 10px;

  background-color: $white;
}

.companions__level {
  position: absolute;
  top: 16px;
  left: 16px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 60px;
  height: 60px;

  border-radius: 50%;
  background-color: rgba($color: black, $alpha: 0.6);

  color: white;

  &::after {
    position: absolute;
    content: "";

    display: block;
    width: 54px;
    height: 54px;

    border-radius: 50%;
    border-top: 3px solid transparent;
    border-left: 3px solid #ff8d30;
    border-right: 3px solid #ff8d30;
    border-bottom: 3px solid #ff8d30;

    transform: rotate(-45deg);
  }

  &::before {
    position: absolute;
    z-index: 2;
    content: "";

    display: block;
    width: 54px;
    height: 54px;

    border-radius: 50%;
    border-top: 3px solid transparent;
    border-left: 3px solid #ff8d30;
    border-right: 3px solid #ff8d30;
    border-bottom: 3px solid #ff8d30;
  }

  @include font-param(700, 24px, $BloggerSans, 0, 24px);
}

.companions__level--99 {
  &::before {
    transform: rotate(40deg);
  }
}

.companions__level--80 {
  &::before {
    transform: rotate(-20deg);
  }
}

.companions__text-level {
  @include font-param(400, 14px, $BloggerSans, 0, 14px);

  padding-top: 3px;

  border-top: 1px solid rgba($color: white, $alpha: 0.3);
}

.companions__item-link {
  text-decoration: none;
}

.companions__title-fio {
  text-align: center;
}

.companions__title-fio--blue {
  color: #1d2e5b;
}

.companions__hashtags {
  width: 180px;

  margin: 0 auto;
  margin-bottom: 15px;

  @include font-param(400, 16px, $BloggerSans, 0, 18px);
  text-align: center;
  color: black;
}

.companions__travel-type-list {
  display: flex;
  justify-content: space-between;

  width: 125px;

  margin: 0 auto;
  padding: 0;

  list-style-type: none;
}

.companions__travel-type-item {
  &::before {
    content: "";

    display: block;

    opacity: 0.15;
  }
}

.companions__travel-type-item--airplane {
  &::before {
    width: 19px;
    height: 21px;

    background-image: url("../img/plane.svg");
  }
}

.companions__travel-type-item--bus {
  &::before {
    width: 17px;
    height: 21px;

    background-image: url("../img/bus.svg");
  }
}

.companions__travel-type-item--bicycle {
  &::before {
    width: 24px;
    height: 21px;

    background-image: url("../img/bike.svg");
  }
}

.companions__travel-type-item--foot {
  &::before {
    width: 20px;
    height: 21px;

    background-image: url("../img/run.svg");
  }
}

.companions__travel-type-item--active {
  &::before {
    opacity: 1;
  }
}

.companions__flags-list {
  position: absolute;
  top: 260px;

  display: flex;

  padding: 0;

  list-style-type: none;
}

.companions__button-all {
  margin-top: 20px;
}

@media (min-width: $tablets-width) {
  .companions {
    padding: 150px 75px 40px 75px;
  }

  .companions__about {
    width: 427px;
  }

  .companions__comment {
    width: 260px;
  }

  .companions__list {
    display: flex;
    justify-content: space-between;
  }

  .companions__item {
    width: 285px;

    border-radius: 20px;
  }

  .companions__photo {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }
}
