.feedback {
  z-index: $z-position - 4;

  box-sizing: border-box;
  margin-top: -30px;
  padding: 65px 25px 35px 25px;
}

.feedback--bg-color {
  background-color: $dark-blue;
}

.feedback__title {
  margin: 0;
}

.feedback__auth-link {
  color: #f0cb4b;
}

.feedback__form {
  display: flex;
}

.feedback__input {
  display: flex;
  align-items: center;
  width: 245px;
  height: 62px;
  padding-left: 25px;
  border-width: 0;
  border-radius: 10px;

  @include font-param(700, 18px, $BloggerSans, 0, 18px);
}

.feedback__button-submit {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 64px;

  margin-left: -60px;

  background: #f0cb4b;
  border-width: 0;
  border-radius: 10px;
  cursor: pointer;

  &::after {
    content: "";
    display: block;
    width: 10px;
    height: 14px;
    background: url("../img/triangle-arrow-right.svg") no-repeat center;
  }
}

.feedback__contacts-list {
  list-style-type: none;
}

.feedback__contact {
  display: flex;
  align-items: center;
  text-decoration: none;

  @include font-param(700, 16px, $BloggerSans, 0, 22px);
  color: #ffd74b;
}

.feedback__contact--phone {
  &::before {
    content: "";
    display: block;
    width: 45px;
    height: 45px;
    margin-right: 15px;
    background-color: #121936;
    background-image: url("../img/contacts-phone.svg");
    background-size: 50%;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50%;
  }
}

.feedback__contact--email {
  &::before {
    content: "";
    display: block;
    width: 45px;
    height: 45px;
    margin-right: 15px;
    background-color: #121936;
    background-image: url("../img/contacts-mail.svg");
    background-size: 50%;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50%;
  }
}

@media (min-width: $tablets-width) {
  .feedback {
    margin-top: -60px;
    padding: 60px 75px 60px 75px;
  }

  .feedback__title {
    text-align: center;
  }

  .feedback__label {
    text-align: center;
  }

  .feedback__contacts-list {
    padding-left: 0;
  }

  .feedback__input {
    box-sizing: border-box;
    width: 620px;
    height: 81px;

    border-radius: 20px;
  }

  .feedback__button-submit {
    width: 82px;
    height: 81px;
    margin-left: -79px;

    border-radius: 0;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
  }
}

@media (min-width: $desktop-width) {
  .feedback {
    margin-top: -60px;
    padding-left: 130px;
    padding-right: 135px;
  }

  .feedback__input {
    width: 850px;
    height: 81px;
  }

  .feedback__button-submit {
    position: static;

    width: 325px;
  }

  .feedback__label {
    width: 608px;
    margin: 0 auto;
  }
}
