.feedback__title {
  color: #ff8d30;
}

.feedback__auth-link {
  color: #f0cb4b;
}

.feedback__input {
  display: flex;
  align-items: center;
  width: 245px;
  height: 62px;
  padding-left: 25px;
  border-width: 0;
  border-radius: 10px;
  @include font-param (700, 18px, $BloggerSans, 0, 18px);
}

.feedback__button-submit {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 62px;
  background: #f0cb4b;
  border-width: 0;
  border-radius: 10px;
  cursor: pointer;

  &::after {
    content: "";
    display: block;
    width: 10px;
    height: 14px;
    background: url("../img/triangle-arrow-right.svg") no-repeat center;
  }
}

.feedback__contacts-list {
  list-style-type: none;
}

.feedback__contact {
  display: flex;
  align-items: center;
  text-decoration: none;
  @include font-param (700, 16px, $BloggerSans, 0, 22px);
  color: #ffd74b;
}

.feedback__contact--phone {
  &::before {
    content: "";
    display: block;
    width: 45px;
    height: 45px;
    margin-right: 15px;
    background-color: #121936;
    background-image: url("../img/contacts-phone.svg");
    background-size: 50%;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50%;
  }
}

.feedback__contact--email {
  &::before {
    content: "";
    display: block;
    width: 45px;
    height: 45px;
    margin-right: 15px;
    background-color: #121936;
    background-image: url("../img/contacts-mail.svg");
    background-size: 50%;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50%;
  }
}
