.my-plans {
  box-sizing: border-box;

  padding-top: 25px;
  padding-right: 25px;
  padding-bottom: 60px;
  padding-left: 25px;
}

.my-plans--bg-color {
  background-color: $mid-blue;
}

.my-plans__list {
  padding-left: 0;

  list-style-type: none;
}

.my-plans__item {
  margin-bottom: 10px;
  padding: 25px;
  border-radius: 10px;

  background-color: white;
}

.my-plans__country {
  @include font-param(700, 16px, $BloggerSans, 0, 16px);
  color: $dark-blue;
}

.my-plans__companions,
.my-plans__date {
  @include font-param(500, 14px, $BloggerSans, 1px, 20px);
  color: $dark-blue;
  text-transform: uppercase;
}

.my-plans__change-button {
  display: flex;
  align-items: center;

  text-decoration: none;
  text-transform: uppercase;

  @include font-param(500, 14px, $BloggerSans, 1px, 20px);
  color: rgba($color: #000000, $alpha: 0.3);
}

@media (min-width: $tablets-width) {
  .my-plans {
    padding-top: 55px;
    padding-right: 75px;
    padding-bottom: 105px;
    padding-left: 75px;
  }

  .my-plans__item {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .my-plans__country {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;

    width: 100%;
  }
}
