.page-header {
  box-sizing: border-box;
  padding-top: 27px;
  padding-left: 25px;
  padding-right: 25px;
}

.page-header--bordered {
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}

.page-header--bg-picture {
  background:
    url("../img/traveller-illustration-mobile@1x.png") no-repeat center,
    url("../img/globe-back-mobile@1x.jpg") no-repeat center top;
}

.page-header--bg-color {
  background-color: $dark-blue;
}

.page-header__title {
  margin: 0;
  margin-top: 60px;

  &::after {
    content: "";
    display: block;
    margin-top: 9px;
    height: 5px;
    width: auto;
    border-radius: 2.39px;
    background-color: $orange;
  }
}

.page-header__menu-and-logo-wraper {
  display: flex;
  justify-content: space-between;
}

.page-header__slogan {
  display: flex;
  text-align: center;
  margin-top: 51px;

  @include font-param(700, 36px, $BloggerSans, 0, 40px);
  color: $white;
}

.page-header__review-author {
  display: block;
  width: 155px;
  margin-left: 25px;
}

.page-header__review-author--white {
  color: $white;
}

.page-header__review-text {
  width: 150px;
  margin-bottom: 30px;
  margin-left: 25px;
}

.page-header__review-text--white {
  color: $white;
}

.page-header__auth {
  display: none;
}

@media (min-width: $tablets-width) {
  .page-header {
    padding-left: 40px;
    padding-right: 40px;
  }

  .page-header__slogan {
    width: 400px;
    margin: 70px auto 90px auto;

    @include font-param(700, 60px, $BloggerSans, 0, 70px);
  }

  .page-header__review-text {
    width: 260px;
    margin-left: 30px;
  }

  .page-header__review-author {
    width: 245px;
    margin-left: 30px;
  }

  .page-header__auth {
    display: block;
  }
}

@media (min-width: $desktop-width) {
  .page-header {
    padding-top: 40px;
    padding-left: 60px;
    padding-right: 60px;
    padding-bottom: 100px;
  }

  .page-header__text-wraper {
    display: flex;
    justify-content: space-between;

    margin-top: 120px;
  }

  .page-header__review {
    width: 285px;
  }

  .page-header__review-text {
    margin-top: 0;
    margin-left: 0;
  }

  .page-header__review-author {
    margin-left: 0;
  }

  .page-header__slogan {
    margin: 0;
    text-align: left;
    padding-left: 70px;

    @include font-param (700, 60px, $BloggerSans, 0, 70px);
  }
}
