.profile-add {
  z-index: $z-position - 3;

  box-sizing: border-box;
  margin-top: -30px;
  padding: 65px 25px 35px 25px;

  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}

.profile-add--bg-color {
  background-color: $light-blue;
}

.profile-add__head-section {
  display: flex;
  justify-content: space-between;
}

.profile-add__title {
  margin: 0;
  width: 105px;
  padding-left: 20px;
}

.profile-add__list {
  position: relative;

  margin: 0;
  padding-left: 0;

  list-style-type: none;
  counter-reset: item;
}

.profile-add__item {
  display: flex;
  justify-content: space-between;

  padding-top: 20px;
  width: 245px;

  border-top-left-radius: 10px;
  border-top-right-radius: 10px;

  @include font-param(300, 16px, $BloggerSans, 0, 22px);
  color: #444444;

  &:nth-child(1) {
    &::after {
      background-color: $orange;
    }
  }

  &:nth-child(2) {
    &::after {
      background-color: $orange-lighter;
    }
  }

  &:nth-child(3) {
    &::after {
      background-color: $yellow-darker;
    }
  }

  &::after {
    content: counter(item);
    counter-increment: item;

    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 34px;
    height: 34px;

    @include font-param(700, 18px, $BloggerSans, 0, 18px);
    color: white;
  }
}

.profile-add__info {
  display: flex;
  flex-direction: column;
}

.profile-add__link-all {
  display: block;
  margin-left: 25px;
  margin-top: 30px;
  text-decoration: none;

  @include font-param(700, 16px, $BloggerSans, 0, 16px);
}

.profile-add__link-all--dark-blue {
  color: $dark-blue;
}

@media (min-width: $tablets-width) {
  .profile-add {
    position: relative;

    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 60px;
  }

  .profile-add__title {
    width: 100%;
    text-align: center;

    margin-bottom: 75px;
  }

  .profile-add__image {
    position: absolute;
  }

  .profile-add__item {
    flex-direction: row-reverse;
    align-items: center;
    width: 688px;

    padding-top: 0;

    @include font-param(300, 28px, $BloggerSans, 0, 33px);

    &::after {
      width: 67px;
      height: 67px;
      margin-right: 25px;

      @include font-param(700, 28px, $BloggerSans, 0, 28px);
    }

    &:nth-child(3) .profile-add__info {
      border-bottom: 1px solid $light-gray;
    }
  }

  .profile-add__info {
    flex-direction: row;
    justify-content: space-between;
    flex-grow: 1;

    margin: 0;
    padding-top: 16px;
    padding-bottom: 16px;

    border-top: 1px solid $light-gray;
  }

  .profile-add__link-all {
    display: flex;
    align-items: center;
    margin-left: 0;

    @include font-param(700, 20px, $BloggerSans, 0, 20px);

    &::before {
      content: "";
      display: block;
      width: 67px;
      height: 67px;

      margin-right: 20px;

      border-radius: 50%;
      background-color: $blue;
      background-image: url("../img/business.svg");
      background-position: center;
      background-repeat: no-repeat;
      background-size: 17px;
    }
  }
}

@media (min-width: $desktop-width) {
  .profile-add {
    padding-right: 130px;
    padding-left: 130px;
  }

  .profile-add__item {
    width: 813px;
  }
}
