.transports__item {
  display: block;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: $light-blue;

  &::before {
    position: absolute;
    content: "";
    display: block;
    width: 32px;
    height: 32px;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
    background-color: transparent;
    opacity: 0.15;
  }
}

.transports__item--plane {
  &::before {
    background-image: url("../img/plane.svg");
    background-size: 14px 16px;
  }
}

.transports__item--bus {
  &::before {
    background-image: url("../img/bus.svg");
    background-size: 13px 16px;
  }
}

.transports__item--bike {
  &::before {
    background-image: url("../img/bike.svg");
    background-size: 19px 17px;
  }
}

.transports__item--run {
  &::before {
    background-image: url("../img/run.svg");
    background-size: 15px 17px;
  }
}

.transports__item--active {
  &::before {
    opacity: 1;
  }
}
