@mixin font-param(
  $font-weight: 400,
  $font-size: 16px,
  $font-family: $BloggerSans,
  $letter-spacing: 0,
  $line-height: 40px
) {
  font-weight: $font-weight;
  font-size: $font-size;
  font-family: $font-family;
  letter-spacing: $letter-spacing;
  line-height: $line-height;
}

@import "variables.scss";
@import "fonts.scss";
@import "normalize.scss";
@import "common-classes.scss";
@import "blocks/page-main.scss";
@import "blocks/countries.scss";
@import "blocks/transports.scss";
@import "blocks/user-lvl.scss";
@import "blocks/page-header.scss";
@import "blocks/companions.scss";
@import "blocks/page-footer.scss";
@import "blocks/social.scss";
@import "pages/index.scss";
@import "pages/directions.scss";
@import "pages/companions.scss";
