$BloggerSans: "BloggerSans", "Arial", "Helvetica", sans-serif;
$dark-blue: #161c36;
$dark-blue-lighter: #192144;
$light-blue: #edeff6;
$white: #ffffff;
$orange: #ff8d30;
$orange-lighter: #ffa530;
$yellow-darker: #ffbd30;
$yellow: #ffd74b;


@mixin font-param(
  $font-weight: 400,
  $font-size: 16px,
  $font-family: $BloggerSans,
  $letter-spacing: 0,
  $line-height: 40px
) {
  font-weight: $font-weight;
  font-size: $font-size;
  font-family: $font-family;
  letter-spacing: $letter-spacing;
  line-height: $line-height;
}

@import "fonts.scss";
@import "normalize.scss";
@import "common-classes.scss";
@import "blocks/page-header.scss";
@import "blocks/companions.scss";
@import "blocks/page-footer.scss";
@import "blocks/social.scss";
@import "pages/index.scss";
@import "pages/directions.scss";
