/*---fixed-width--*/
$tablets-width: 768px;
$desktop-width: 1440px;
/*---main_font--*/
$BloggerSans: "BloggerSans", "Arial", "Helvetica", sans-serif;
/*---colors---*/
$dark-blue: #161c36;
$dark-blue-lighter: #192144;
$light-blue: #edeff6;
$white: #ffffff;
$orange: #ff8d30;
$orange-lighter: #ffa530;
$yellow-darker: #ffbd30;
$yellow: #ffd74b;
$white: #ffffff;
/*---position---*/
$z-position: 5;
